[bumpversion]
current_version = 0.0.10
commit = False
tag = False

[bumpversion:file:setup.py]
search = version='{current_version}'
replace = version='{new_version}'

[bumpversion:file:README.rst]
search = v{current_version}.
replace = v{new_version}.

[bumpversion:file:src/iotanbo_py_utils/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
