.kelove_md_editor_content {width : 100%;min-height : 280px;max-height : 480px;}

.kelove_md_editor_content.editormd-fullscreen {max-height : 100%;z-index : 99999;}

.editormd-menu {margin : 0 !important;}

.editormd-mask {z-index : 7777 !important;}

.editormd-dialog {height : auto !important;z-index : 8888 !important;}