[settings]
line_length = 115
force_to_top = True
indent = "		"
multi_line_output = 8
balanced_wrapping = False
lines_between_types = 0
use_parentheses = True
default_section = THIRDPARTY
remove_redundant_aliases = True
