table.admin-smp-project-table {
    padding-right: 1em;
    margin-top: 0px;
}

.admin-smp-proj-tbl-div {
    max-height: 300px;
    overflow-y: auto;
    float: left;
    margin: 10px;
}

#project-help-div {
    clear:both;
}
