body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div.p46{
    flex-grow: 1;
}

footer.p46{
    padding:10px 7px;
    color: white;
    background-color: #333333;
}

.p46 .info{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.p46 .info .info_detail{
    text-align: right;
}
.p46 .info .info_assistenza{
    text-align: right;
    padding-right: 1rem;
    flex-grow: 1;
}
.p46 .info .info_assistenza span{
    display: block;
}

.p46 .info .info_detail span{
    display: block;
}
.p46 .info .info_detail span:last-of-type{
    margin-bottom: 8px;
}

.p46 .info .info_detail a{
    padding: 3px;
    background-color: #7fba27;
    border: 0;
    border-radius: 3px;
    color: #333333;
    margin-top: 5px;
}

.p46 .info .info_detail a:hover{
    background-color: #8cce2b;
    text-decoration: none;
}