[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: ProcGraph
url: http://github.com/AndreaCensi/procgraph

modules: procgraph procgraph_cv procgraph_foo procgraph_hdf procgraph_images procgraph_io_misc procgraph_mpl procgraph_mplayer procgraph_numpy_ops procgraph_pil procgraph_robotics procgraph_ros procgraph_signals procgraph_statistics procgraph_yaml


output: html
target: source/my_static/apidocs/

docformat: restructuredtext
exclude-introspect: procgraph.unittests

graph: all

# introspect-only: True
